@import 'sencha-touch/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;

// =Colors
$default-gradient-light-color: rgba(250, 250, 250, 1);
$default-gradient-dark-color: rgba(209, 209, 209, 1);

$dark-gradient-dark-color: rgba(98, 98, 98, 1);
$dark-gradient-light-color: rgba(127, 127, 127, 1);

$important-gradient-dark-color: rgba(221, 207, 108, 1);
$important-gradient-light-color: rgba(240, 230, 151, 1);

$active-gradient-light-color: rgba(116, 173, 53, 1);
$active-gradient-dark-color: rgba(51, 99, 11, 1);

$main-nav-gradient-color: rgba(116, 173, 53, 1);
$main-nav-gradient-color-active: rgba(90, 133, 41, 1);

$main-nav-foreground-color: #fff;
$main-nav-foreground-color-active: #fff;

$default-text-color-on-light-background: #333;
$default-text-color-on-dark-background: #fff;
$text-color-on-important: rgb(84, 77, 21);


$light-panel-background-color: #e7e7e7;

$default-gradient-base-color: rgb(230, 230, 230);
$default-gradient-active-color: rgb(84, 136, 32);
$default-gradient-type: 'matte';

$list-color: #333;
$list-active-color: #fff;

$correct-bet-background: rgba(68, 130, 2, 1);
$correct-bet-foreground: rgb(255, 255, 255);

// =Layout
$default-distance: 5px;

$flag-position-x: -10px;
$flag-position-y: -10px;

$default-border-radius: 0.4em;

// =Typography
$default-font-size: 12px;
$large-font-size: 16px;
$small-font-size: 11px;

// =Mixins
@mixin default-rounded-corners {
    -webkit-borderradius: $default-border-radius;
    -moz-border-radius:   $default-border-radius;
    -ms-border-radius:    $default-border-radius;
    border-radius:        $default-border-radius;
}

@mixin rounded-corners($border-radius) {
    -webkit-borderradius: $border-radius;
    -moz-border-radius:   $border-radius;
    -ms-border-radius:    $border-radius;
    border-radius:        $border-radius;
}

@mixin default-vertical-box-shadow {
  -webkit-box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow:    0px 5px 6px rgba(0, 0, 0, 0.25);
  box-shadow:         0px 5px 6px rgba(0, 0, 0, 0.25);
}

@mixin default-inset-drop-shadow {
  -webkit-box-shadow: inset 0px 3px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow:    inset 0px 3px 4px rgba(0, 0, 0, 0.25);
  box-shadow:         inset 0px 3px 4px rgba(0, 0, 0, 0.25);
}


@mixin secondary-drop-shadow($use-inset) {
  @if $use-inset == true {
    -webkit-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    inset 0px 0px 2px rgba(0, 0, 0, 0.75);
    box-shadow:         inset 0px 0px 2px rgba(0, 0, 0, 0.75);
  } @else {
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    0px 0px 2px rgba(0, 0, 0, 0.75);
    box-shadow:         0px 0px 2px rgba(0, 0, 0, 0.75);
  }
}

@mixin default-dark-section {
  background: url(../images/black-background.png) top left repeat;
  color: $default-text-color-on-dark-background;
}

@mixin vertical-gradient-background($light-color, $dark-color) {
  background: $dark-color;
  background-color: $dark-color;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($light-color), to($dark-color));
  background-image: -webkit-linear-gradient(top, $light-color, $dark-color);
  background-image:    -moz-linear-gradient(top, $light-color, $dark-color);
  background-image:     -ms-linear-gradient(top, $light-color, $dark-color);
  background-image:      -o-linear-gradient(top, $light-color, $dark-color);
}

@mixin background-image-with-vertical-gradient-overlay($image-url, $light-color, $dark-color) {
  background: rgb(255, 255, 255);
  background:         -webkit-gradient(linear, 0% 0%, 0% 100%, from($dark-color), to($light-color), url($image-url) 1px 1px repeat);
  background:  -webkit-linear-gradient(top, $dark-color, $light-color), url($image-url) 1px 1px repeat;
  background:     -moz-linear-gradient(top, $dark-color, $light-color), url($image-url) 1px 1px repeat;
  background:      -ms-linear-gradient(top, $dark-color, $light-color), url($image-url) 1px 1px repeat;
  background:       -o-linear-gradient(top, $dark-color, $light-color), url($image-url) 1px 1px repeat;
  background:          linear-gradient(top, $dark-color, $light-color), url($image-url) 1px 1px repeat;
}

/* TODO: Investigate how this should be properly used. Unable to reference correct directory.
@mixin custom-iconmask($name) {
  .x-tab img.\#{$name}, .x-button img.x-icon-mask.\#{$name} {
    -webkit-mask-image: inline-image('icons/' + $name + '.png');
  }
}
*/

// *** =Custom SASS below ***
body,
body.x-desktop {}

input.x-input-el,
.x-field.x-field-labeled .x-form-label {
  padding-left: $default-distance * 3;
}

.x-field .x-input-radio:checked::after, 
.x-field .x-input-checkbox:checked::after {
  background-color: #1E9FD9;
}

#login-form.x-layout-card-item {
  background: #3c820d;
  background-image: url(../images/login-background.png);
  background-size: 60px 60px;
  background-repeat: repeat;

  .x-innerhtml {
    text-align: center;
  }

  #app-logo {
    height: 124px;
    margin: $default-distance * 5 auto; 
    width: 205px;
  }

  .x-form-fieldset .x-form-fieldset-inner { border: 0; }

  #login,
  #forgot-password {
    @include background-gradient($main-nav-gradient-color, $default-gradient-type);
    @include secondary-drop-shadow(false);
    border: 0;
    color: $default-text-color-on-dark-background;
    font-size: $large-font-size;
    margin-bottom: $default-distance * 3;
    padding: $default-distance * 3;
    text-shadow: 0 -1px 1px rgba(59, 87, 32, 0.75);
  }

  #login.x-button-pressed,
  #login.x-button-pressing {
    @include background-gradient($main-nav-gradient-color-active, $default-gradient-type);
    text-shadow: 0 -1px 1px rgba(22, 38, 7, 0.75); 
  }

  #forgot-password {
    @include secondary-drop-shadow(true);    
    background: #3a7710;
    border: 0;
    border-bottom: 1px solid rgba(116, 173, 53, 0.75);
    border-left: 1px solid rgba(116, 173, 53, 0.5);
    border-right: 1px solid rgba(116, 173, 53, 0.5);
    margin-top: $default-distance * 3;
  }

  hr {
    background: #214e06;
    border: 0;
    border-bottom: 1px solid #53921b;
    border-top: 1px solid #39700c;
  }

  .x-body {
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(rgba(128, 194, 58, 0.55)), to(rgba(128, 194, 58, 0.15)));
    
    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-radial-gradient(circle, rgba(128, 194, 58, 0.75), rgba(128, 194, 58, 0.15));
    
    /* Firefox 3.6+ */ 
    background: -moz-radial-gradient(circle, rgba(128, 194, 58, 0.75), rgba(128, 194, 58, 0.15));
  }

  .x-scroll-container {
    background: none;
  }
}

#top-toolbar {
  @include default-dark-section;
  font-size: $small-font-size;
  height: 40px;
  padding: $default-distance;
  
  #em-tipset-logo {
    height: 23px; 
    margin-left: 15px;
    margin-top: 2px;   
    width: 164px;
  }

  .user.name {  
  	float: left;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    padding-right: $default-distance * 3;
  }
  
  .settings {    
    float: right;
    height: 15px;
    margin: $default-distance $default-distance * 2;
    margin-top: 7px;
    margin-left: $default-distance * 3;
    width: 15px;	
  }
}

#main-nav {
  @include background-gradient($main-nav-gradient-color, $default-gradient-type);
  @include default-vertical-box-shadow;
  z-index: 1000;
  margin-left: 0;
  padding-left: 0;
      
  .x-button {
    background: transparent;
    border: 0;
    border-bottom: 1px solid #fff; 
    -webkit-borderradius: 0;
    border-radius: 0;
    color: $default-text-color-on-dark-background;
    display: inline-block;
    padding: $default-distance * 3 $default-distance * 2;
    text-shadow: 0 -1px 1px rgba(59, 87, 32, 0.75);

    .x-button-label {
        font-size: 0.7em;
        line-height: 1.35em;
    }
  }

  .x-button-pressed {
    @include background-gradient($main-nav-gradient-color-active, $default-gradient-type);
    text-shadow: 0 -1px 1px rgba(22, 38, 7, 0.75); 
  }
}

#main-nav.x-toolbar {
  height: 2.5em;
}

.x-toolbar.x-docked-top {
  border: 0;
}

#league-select {
  background-image: url(../images/arrow-down.png);
  background-size: 9px 6px;
  background-position: center right;
  background-repeat: no-repeat;
  padding-right: $default-distance * 4;  
}


#my-stats {
  border-top: 1px solid rgb(223, 238, 240);
  border-left: 1px solid rgb(223, 238, 240);
  height: 60px;
  padding: $default-distance * 2 $default-distance * 3;
    
  #my-ranking {
    color: #448202;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -0.05em;
  }
  
  .total-contestants {
    color: #bcc7c8;
  }
}

#round-selector {
  @include default-dark-section;
  border-top: rgb(184, 184, 184);
  height: 50px;
  padding: 0;

  .x-segmentedbutton {
    height: 50px;

    .x-button.x-last {
      -webkit-borderradius: 0;
         -moz-borderradius: 0;
             border-radius: 0;
    }
  }

  #top-4-menu-item {
    width: 104px;
  }

  #top-scorer-menu-item {
    width: 138px;
  }

  .x-button-normal.x-button {
    background: transparent;
    border: 0;
    border-right: 1px dashed rgba(184, 184, 184, 0.5);
    width: 139px;

      .x-button-icon {
        background-image: url(../images/lock-icons.png);
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: 160px 25px;
        height: 25px;
        width: 25px;
      }

      .x-button-icon.round-locked {
        background-position-x: 0px;
      }

      .x-button-icon.round-open {
          background-position-x: -45px;
      }      

      .x-button-label {
        font-size: 0.8em;
        line-height: 1.35em;
      }
  }

  .x-button-normal.x-button-pressed {
    @include background-gradient($main-nav-gradient-color-active, $default-gradient-type);
    @include rounded-corners(0);
    text-shadow: 0 -1px 1px rgba(22, 38, 7, 0.75);

    .x-button-icon.round-locked {
        background-position-x: -90px;
    }

    .x-button-icon.round-open {
        background-position-x: -135px;
    }
  }  
}

.x-inner.x-panel-inner.x-scroll-scroller {
  background: url(../images/graph-paper.png) top left repeat;
  //@include background-image-with-vertical-gradient-overlay('../images/graph-paper.png', rgba(255, 255, 255, 0.2), rgba(225, 232, 234, 0.5));  
}

#last-updated {
  @include vertical-gradient-background($important-gradient-light-color, $important-gradient-dark-color);
  color: $text-color-on-important;
  font-size: $small-font-size;
  padding: $default-distance $default-distance * 2;

  img#clock {
    float: left;
    height: 13px;
    margin-right: $default-distance;
    margin-top: 1px;
    width: 13px;
  }
}

.match-meta-data {
  .margin-top: 2px;

  .team-wrapper {
    float: left;
    font-weight: bold;
    line-height: 1.65;
    margin-bottom: 17px;
    position: relative;
    text-transform: uppercase;
    width: 40%;    
    
    .flag {
      background-image: url(../images/flags-bg-32x32.png);
      background-position: -10px -9px;
      background-repeat: no-repeat;
      background-size: 46px 118px;      
      position: absolute;
      height: 28px;
      width: 26px;
      top: 0;

      span {
        background-image: url(../images/flags-32x32.png);
        background-position: 5px -4px;      
        background-repeat: no-repeat;
        background-size: 426px 36px;
        display: inline-block;      
        height: 28px;
        width: 26px;        
      }
    } 

    .flag span.pol { background-position-x: -5px; }
    .flag span.gre { background-position-x: -31px; }
    .flag span.rus { background-position-x: -57px; }
    .flag span.cze { background-position-x: -83px; }
    .flag span.ned { background-position-x: -109px; }    
    .flag span.den { background-position-x: -135px; } 
    .flag span.ger { background-position-x: -161px; }           
    .flag span.por { background-position-x: -187px; }    
    .flag span.esp { background-position-x: -213px; }
    .flag span.ita { background-position-x: -239px; } 
    .flag span.irl { background-position-x: -265px; }
    .flag span.cro { background-position-x: -291px; }
    .flag span.fra { background-position-x: -317px; }
    .flag span.eng { background-position-x: -343px; }                       
    .flag span.ukr { background-position-x: -369px; }
    .flag span.swe { background-position-x: -395px; }     
    
    .goals-scored {
      background: url(../images/result-background.png) top left no-repeat;
      padding: 1px 0 3px 0;
      color: $default-text-color-on-dark-background;
      position: absolute;
      text-align: center;       
      top: -1px;
      width: 31px;     
    }       
  }

  .team-wrapper.home-team,
  .team-wrapper.away-team {
    text-align: left;
  }
  
  .team-wrapper.home-team {
    .flag {
      left: 50px;
    }
    
    .goals-scored {
      left: 90px;
    } 
  }

  .team-wrapper.away-team {
    text-align: right;
    
    .flag {
      right: 50px;
    }
    
    .goals-scored {
      right: 90px;
    }
  }
    
  .kick-off-time {
    background: url(../images/lock-closed.png) top center no-repeat;
    float: left;
    font-size: $small-font-size;
    margin-top: 1px;
    padding-top: $default-distance * 3;
    text-align: center;
    width: 20%;
  }

  .bet-meta-data {
    @include default-dark-section;
    @include default-rounded-corners;
    border: 1px solid rgb(255, 255, 255);
    border-left-color: rgb(142, 142, 142);    
    border-top-color: rgb(142, 142, 142); 
    clear: both;
    height: 32px;
    margin-top: $default-distance * 2;
    position: relative; 

    img.user-icon {
      height: 13px;
      left: $default-distance * 2;
      position: absolute;      
      top: 8px;
      width: 11px;
    }

    .goals-bet {
      color: #7f7f7f;
      font-weight: bold;
      height: 30px;
      line-height: 1.6;
      position: absolute;
      text-align: center;
      width: 28px;
    }

    .points-earned,
    .no-points-earned {
      background-image: url(../images/round-background.png);
      background-position: -11px -5px;      
      background-repeat: no-repeat;
      background-size: 88px 34px;      
      float: right;
      font-size: 15px;
      font-weight: bold;
      height: 28px;
      line-height: 1.65;
      margin-top: 2px;
      margin-right: $default-distance;
      text-align: center;
      width: 28px;
    }

    .no-points-earned {
      background-position-x: -51px;  
    }

    .goals-bet.home-team {
      left: 90px;
    }

    .goals-bet.away-team {
      right: 93px;
    }
  }

  .home-team-win .home-team {
    background: $correct-bet-background;
    color: $correct-bet-foreground;
  }

  .away-team-win .away-team {
    background: $correct-bet-background;
    color: $correct-bet-foreground;
  }

  .drawed .home-team,
  .drawed .away-team,
  .correct-result .home-team,
  .correct-result .away-team {
    background: $correct-bet-background;
    color: $correct-bet-foreground;
  }
}

.x-list-normal .x-list-header {
  @include default-dark-section;
  border-bottom-color: #1b1b1c;
  border-top-color: #1b1b1c;
  font-size: $small-font-size;
}

.x-list .x-list-item {
  @include background-gradient($default-gradient-base-color, $default-gradient-type);
}

.x-list .x-list-item.x-item-selected .x-list-item-label {
  @include background-gradient($default-gradient-active-color, $default-gradient-type);
  border-bottom-color: $active-gradient-light-color;
  border-top-color: #7a8c6b;
  
  .team-wrapper .flag {
    background-position-y: -45px; 
  } 

  .bet-meta-data {
    border: 1px solid rgb(133, 179, 83);
    border-left-color: rgb(60, 110, 17);    
    border-top-color: rgb(60, 110, 17);     
  } 
}

.x-list-normal .x-list-item .x-list-item-label {
  border-bottom-color: $default-gradient-light-color;
  border-top-color: $default-gradient-dark-color;
}

.x-panel.message.top.x-floating {
  display: block;
  margin: -5px 0 0 0;
  position: relative !important; 
}

.message,
.x-panel.x-floating.message {
  @include rounded-corners(0);
  background: #f7f6c2;
  border: 1px solid #c9c96e;
  color: $default-text-color-on-light-background;
  font-size: $small-font-size;
  padding: $default-distance * 2 $default-distance * 3;

  .x-inner.x-panel-inner {
    background: none;
  }

  .x-innerhtml {
      background: url(../images/close.png) top right no-repeat;
      background-size: 19px 19px;
      line-height: 19px;
      min-height: 19px;
      padding-right: 29px;
    }
 
}

#top-4,
#top-scorer {
  margin-top: $default-distance * 3;
}

.message {
  @include default-rounded-corners;  
  margin: $default-distance * 3;
}