@import 'sencha-touch/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;

// =Colors
$default-gradient-light-color: rgba(250, 250, 250, 1);
$default-gradient-dark-color: rgba(209, 209, 209, 1);

$active-gradient-light-color: rgba(116, 173, 53, 1);
$active-gradient-dark-color: rgba(51, 99, 11, 1);

$main-nav-foreground-color: #333;
$main-nav-foreground-color-active: #fff;

$default-text-color-on-light-background: #333;
$default-text-color-on-dark-background: #fff;

$light-panel-background-color: #e7e7e7;

// =Layout
$default-padding: 5px;

// =Typography
$default-font-size: 12px;
$small-font-size: 11px;

// =Mixins
@mixin default-vertical-box-shadow {
  -webkit-box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.25);
}

@mixin default-inset-drop-shadow {
  -webkit-box-shadow: inset 0px 3px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 3px 4px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 3px 4px rgba(0, 0, 0, 0.25);
}

@mixin default-dark-section {
  background: url(../images/black-background.png) top left repeat;
  color: $default-text-color-on-dark-background;
}

@mixin vertical-gradient-background($light-color, $dark-color) {
  background: $dark-color;
  background-color: $dark-color;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($light-color), to($dark-color));
  background-image: -webkit-linear-gradient(top, $light-color, $dark-color);
  background-image:    -moz-linear-gradient(top, $light-color, $dark-color);
  background-image:     -ms-linear-gradient(top, $light-color, $dark-color);
  background-image:      -o-linear-gradient(top, $light-color, $dark-color);
}

@mixin background-image-with-vertical-gradient-overlay($image-url, $light-color, $dark-color) {
  background: rgb(255, 255, 255);
  background:         -webkit-gradient(linear, 0% 0%, 0% 100%, from($dark-color), to($light-color), url($image-url) 1px 1px repeat);
  background:  -webkit-linear-gradient(top, $dark-color, $light-color), url($image-url) 1px 1px repeat;
  background:     -moz-linear-gradient(top, $dark-color, $light-color), url($image-url) 1px 1px repeat;
  background:      -ms-linear-gradient(top, $dark-color, $light-color), url($image-url) 1px 1px repeat;
  background:       -o-linear-gradient(top, $dark-color, $light-color), url($image-url) 1px 1px repeat;
  background:          linear-gradient(top, $dark-color, $light-color), url($image-url) 1px 1px repeat;
}

// *** =Custom SASS below ***
body,
body.x-desktop {
}

#top-toolbar {
  @include default-dark-section;
  font-size: $small-font-size;
  padding: $default-padding;
  
  .user.name {
	border-left: 1px solid rgba(255, 255, 255, 0.25);  
	float: left;
    font-weight: bold;
    margin-left: $default-padding * 3;
    padding-left: $default-padding * 2;
  }
  
  .settings {
	float: left;
	height: 15px;
    margin-left: $default-padding * 2;	
	width: 15px;	
  }
}

#main-nav {
  @include vertical-gradient-background($default-gradient-light-color, $default-gradient-dark-color);
  @include default-vertical-box-shadow;
  z-index: 1000;
  margin-right: 0;
  padding-right: 0;
      
  .x-button {
    background: transparent;
    border: 0;
    border-left: 1px solid transparent;
    border-bottom: 1px solid #fff; 
    -webkit-borderradius: 0;
    border-radius: 0;
    color: $default-text-color-on-light-background;
    display: inline-block;
    padding: $default-padding * 3 $default-padding * 2;
  }
  
  .x-button-pressed {
    @include vertical-gradient-background($active-gradient-light-color, $active-gradient-dark-color);
    border-left-color: rgba(133, 171, 94, 0.75);
    border-right-color: rgba(186, 201, 173, 0.75);
    color: $main-nav-foreground-color-active;
    text-shadow: 0 -1px 1px rgba(59, 87, 32, 0.75); 
  }
}

#main-nav.x-toolbar {
  height: 2.5em;
}

#my-stats {
  @include background-image-with-vertical-gradient-overlay('../images/graph-paper.png', rgba(255, 255, 255, 0.2), rgba(225, 232, 234, 0.5));
  border-top: 1px solid rgb(223, 238, 240);
  border-left: 1px solid rgb(223, 238, 240);
  height: 70px;
  padding: $default-padding * 2 $default-padding * 3;
  
  #leage-select {
    color: #333;
    font-size: 14px;
  }
    
  #my-ranking {
    color: #448202;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -0.05em;
  }
  
  .total-contestants {
    color: #bcc7c8;
  }
}

.match-meta-data {
  
  .team-wrapper {
    float: left;
    font-weight: bold;
    position: relative;
    width: 40%;
    text-transform: uppercase;
    
    .flag {
      background-image: url(../images/flags-32x32.png), url(../images/flags-bg-32x32.png);
      background-position: -5px -5px, -10px -10px;
      background-repeat: no-repeat, no-repeat;
      background-size: 426px 36px, 46px 118px;      
      height: 27px;
      position: absolute;
      top: 0;
      width: 27px;      
    } 
    
    .flag.pol { background-position-x: -5px, -10px; }
    .flag.gre { background-position-x: -31px, -10px; }
    .flag.rus { background-position-x: -57px, -10px; }
    .flag.cze { background-position-x: -83px, -10px; }
    .flag.ned { background-position-x: -109px, -10px; }    
    .flag.den { background-position-x: -135px, -10px; } 
    .flag.ger { background-position-x: -161px, -10px; }           
    .flag.por { background-position-x: -187px, -10px; }    
    .flag.spa { background-position-x: -213px, -10px; }
    .flag.ita { background-position-x: -239px, -10px; } 
    .flag.irl { background-position-x: -265px, -10px; }
    .flag.cro { background-position-x: -291px, -10px; }
    .flag.fra { background-position-x: -317px, -10px; }
    .flag.eng { background-position-x: -343px, -10px; }                       
    .flag.ukr { background-position-x: -369px, -10px; }
    .flag.swe { background-position-x: -395px, -10px; }          
    
    .goals-scored {
      background: url(../images/result-background.png) top left no-repeat;
      padding: $default-padding 0;
      color: $default-text-color-on-dark-background;
      position: absolute;
      text-align: center;       
      top: -3px;
      width: 31px;     
    }       
  }

  .team-wrapper.home-team {
    text-align: left;
    
    .flag {
      left: 50px;
    }
    
    .goals-scored {
      left: 90px;
    }    
  }
  
  .team-wrapper.away-team {
    text-align: right;
    
    .flag {
      right: 50px;
    }
    
    .goals-scored {
      right: 90px;
    }
  }
    
  .kick-off-time {
    background: url(../images/lock-closed.png) top center no-repeat;
    float: left;
    font-size: $small-font-size;
    margin-top: -1px;
    padding-top: $default-padding * 3;
    text-align: center;
    width: 20%;
  }
}

.x-list-normal .x-list-header {
  @include default-dark-section;
  @include default-inset-drop-shadow;
  border-bottom-color: #1b1b1c;
  border-top-color: #1b1b1c;
  font-size: $small-font-size;
}

.x-list .x-list-item {
  @include vertical-gradient-background($default-gradient-light-color, $default-gradient-dark-color);
}

.x-list .x-list-item.x-item-selected .x-list-item-label {
  @include vertical-gradient-background($active-gradient-light-color, $active-gradient-dark-color);  
  border-bottom-color: $active-gradient-light-color;
  border-top-color: #7a8c6b;
  color: $default-text-color-on-dark-background;  
  
  .team-wrapper .flag {
    background-position-y: -5px, -46px; 
  }  
}

.x-list-normal .x-list-item .x-list-item-label {
  border-bottom-color: $default-gradient-light-color;
  border-top-color: $default-gradient-dark-color;
}